body{
    position: relative;
    top:-10;
    background-color:#fdfdfd;
}
*{
    font-family: "ARIAL";
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.li-nav{
   color:white !important;
}
.profile-img{
    height: 160px;
    padding-right: 50px;
}
.profile-content{
    display: flex;
    flex-direction: column;
}
.panel{
    
    margin: auto;
    margin-top: 30px;
    width: 85%;
}
.panel-body{
   margin: auto;
     display: flex;
    flex-direction: row;
    
}
.lead{
    text-align: center;
}
li{
   
    
}
.nav-tabs{
    background-color:#252525;
}
main{
    
    margin-top: 30px;
    
}
section{
    
    display: flex;
    flex-direction:column;
}
#dropdownMenu1{
   width: 150px;
    margin-left: 7.6%;
    
    
}
#citi-menu{
    
     margin-left: 7.6%;
}

header{
    margin-top: 10px;
    font-size:20px;
}
li a{
color:white;
}
.tools-bar{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content:center;
    width: 80%;
    margin: auto;
}

.vertical-flex{
     justify-content: space-between;
    display: flex;
    flex-direction:column;
    flex:1;
}
.login-form{
    left:25%;
    top:200;
    margin-bottom: 50px;
}
.row-tools{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.contol-tools{
    width:30%;
    padding-top: 50px;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 300px;
}
.office_form{ 
height: auto; 
min-height: 400px; 
width: 60%; 
align-items: center; 
margin:auto; 
display: flex; 
flex-direction: column; 
justify-content: space-around; 

} 

.form-group{ 
width:100%; 
} 
textarea{ 
resize:vertical; 

}
html{
    min-height: 100%;
    margin: 0;
}

footer{
    position: absolute;
    bottom: -10;
    background-color:#eee;
    height: 50px;
    padding-top: 15px;
    width: 100%;
    border-top: 1px solid #AAA;
    text-align: center;
    color:#999;
}
